body {
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    
}

p, h1, h2 {
    color: azure;
}

.bg {
    position: relative;
    width: 100%;
}

.logo {
    filter: brightness(0) invert(1);
    max-width: 20%;
    height: auto;
    object-fit: cover;
}

.heading h1, h2 {
    padding-top: 100px;
    font-size: 40px;
}

.heading {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1000;
    display: flex;
    justify-content: space-evenly;
}

ul.menu {
    background-color: #000000;
    max-width: 58rem;
    margin: 0 auto;
}

ul.menu a {
    color: #f5f5f5;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1rem;
}

ul.menu a:hover,
ul.menu a:active {
    text-decoration: underline;
    border-radius: 5px;
    transition-property: left right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

ul.dropdown-menu {
    padding: 0 1rem;
}

ul.dropdown-menu a {
    text-decoration: none;
}

@media only screen and (min-width: 40em) {
    ul.menu {
        display: flex;
    }

    ul.menu li {
        flex: 1 0 auto;
        white-space: nowrap;
        text-align: center;
        position: relative;
    }

    ul.dropdown-menu {
        padding: 0;
        position: absolute;
        border-radius: 0 0 5px 5px;
        left: 0;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease;
    }

    ul.menu li:hover > ul {
        visibility: visible;
        opacity: 1;
    }

    ul.menu li:focus-within > ul,
    ul.menu li > ul:focus {
        visibility: visible;
        opacity: 1;
        display: block;
    }
}

section img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}