body {
    font-family: sans-serif;
}

header {
    max-width: 58rem;
    margin: 0 auto;
}

/* Step 1: Style all the menu links showing on the smallest screen */

/* Text styling goes on the <a> tag to overwrite the browser styles.
Layout styles go on the <li> elements */

ul.menu {
    background-color: #191919;
}

ul.menu a {
    color: #f5f5f5;
    text-decoration: none;
    text-transform: uppercase;
    /* expand the clickable area to fill the entire li, vs just the text itself */
    display: block;
    padding: 1rem;
}

ul.menu a:hover,
ul.menu a:active {
    background-color: #262626;
    border-radius: 5px;
}

ul.dropdown-menu {
    padding: 0 1rem;
}

ul.dropdown-menu a {
    text-decoration: none;
}

/* Step 2: layout the links for the larger screen */
/* Step 3: style everything and hide the second level nav */

@media only screen and (min-width: 40em) {
    ul.menu {
        display: flex;
    }

    ul.menu li {
     /* flex-grow: 1;
        flex-shrink: 0;
        flex-basis: auto; */
        flex: 1 0 auto;
        /* forces the text to stay on one line */
        white-space: nowrap;
    }

    /* remove the indent we wanted for the mobiel screen */
    /* Step 4: position and the hide the drop down menu*/

    ul.dropdown-menu {
        padding: 0;
        position: absolute;
    }
}